security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        users:
            entity:
                class: 'App\Domain\Model\Utilisateur'
                # property: login
            # the property to query by - e.g. username, email, etc
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            provider: users
            guard:
                authenticators:
                    - App\Infrastructure\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                target: /
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: home
            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true
    encoders:
        # this internal class is used by Symfony to represent in-memory users
        Symfony\Component\Security\Core\User\User: 'auto'
        App\Domain\Model\Utilisateur: bcrypt

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/admin/utilisateur, roles: ROLE_RUSER }
        - { path: ^/admin/utilisateur/edit, roles: ROLE_ADMIN }
        - { path: ^/admin/utilisateur/show, roles: ROLE_ADMIN }

        - { path: ^/admin/fonction/new, roles: ROLE_CFONCTION }
        - { path: ^/admin/fonction, roles: ROLE_RFONCTION }

        - { path: ^/admin/role, roles: ROLE_RROLE }
        - { path: ^/admin/role/new, roles: ROLE_CROLE }
        - { path: ^/admin/role/edit, roles: ROLE_UROLE }
        - { path: ^/admin/role/show, roles: ROLE_RROLE }

        - { path: ^/admin/category, roles: ROLE_RCATEGORY }
        - { path: ^/admin/category/new, roles: ROLE_CCATEGORY }
        - { path: ^/admin/category/edit, roles: ROLE_UCATEGORY }
        - { path: ^/admin/category/show, roles: ROLE_RCATEGORY }

        - { path: ^/admin/entreprise/show, roles: ROLE_RCOMPANY }
        - { path: ^/admin/entreprise/edit, roles: ROLE_UCOMPANY }
        - { path: ^/admin/registered/entreprise, roles: ROLE_RCOMPANY }
        - { path: ^/admin/registered/entreprise/show, roles: ROLE_RCOMPANY }
        - { path: ^/admin/registered/entreprise/edit, roles: ROLE_UCOMPANY }
        - { path: ^/admin/refused/entreprise, roles: ROLE_RCOMPANY }
        - { path: ^/admin/refused/entreprise/show, roles: ROLE_RCOMPANY }
        - { path: ^/admin/refused/entreprise/edit, roles: ROLE_UCOMPANY }

        - { path: ^/admin/company-statut, roles: ROLE_RCOMPANYSTATUT }
        - { path: ^/admin/company-statut/show, roles: ROLE_RCOMPANYSTATUT }
        - { path: ^/admin/company-statut/edit, roles: ROLE_UCOMPANYSTATUT }
        - { path: ^/admin/company-statut/new, roles: ROLE_CCOMPANYSTATUT }

        - { path: ^/admin/group, roles: ROLE_RGROUP }
        - { path: ^/admin/group/new, roles: ROLE_CGROUP }
        - { path: ^/admin/group/edit, roles: ROLE_UGROUP }
        - { path: ^/admin/group/show, roles: ROLE_RGROUP }

        - { path: ^/utilisateur/edit, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/dashboard, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/entreprises/search, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/entreprise, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/entreprise/new, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/entreprise/edit, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/entreprise/list, roles: IS_AUTHENTICATED_FULLY }

        - { path: ^/admin/city, roles: ROLE_RCITY }
        - { path: ^/admin/city/new, roles: ROLE_CCITY }
        - { path: ^/admin/city/edit, roles: ROLE_UCITY }
        - { path: ^/admin/city/show, roles: ROLE_RCITY }

        - { path: ^/subscription, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/admin/subscription, roles: ROLE_RSUBSCRIPTION }
        - { path: ^/admin/subscription/new, roles: ROLE_CSUBSCRIPTION }
        - { path: ^/admin/subscription/edit, roles: ROLE_USUBSCRIPTION }
        - { path: ^/admin/subscription/show, roles: ROLE_RSUBSCRIPTION }

        - { path: ^/admin/advantage, roles: ROLE_RADVANTAGE }
        - { path: ^/admin/advantage/new, roles: ROLE_CADVANTAGE }
        - { path: ^/admin/advantage/edit, roles: ROLE_UADVANTAGE }
        - { path: ^/admin/advantage/show, roles: ROLE_RADVANTAGE }

        - { path: ^/admin/sous-category, roles: ROLE_RSOUSCATEGORY }
        - { path: ^/admin/sous-category/new, roles: ROLE_CSOUSCATEGORY }
        - { path: ^/admin/sous-category/edit, roles: ROLE_USOUSCATEGORY }
        - { path: ^/admin/sous-category/show, roles: ROLE_RSOUSCATEGORY }

        - { path: ^/admin/besoin-statut, roles: ROLE_RBESOINSTATUT }
        - { path: ^/admin/besoin-statut/new, roles: ROLE_CBESOINSTATUT }
        - { path: ^/admin/besoin-statut/edit, roles: ROLE_UBESOINSTATUT }
        - { path: ^/admin/besoin-statut/show, roles: ROLE_RBESOINSTATUT }

        - { path: ^/services/list, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/services/new, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/services/edit, roles: IS_AUTHENTICATED_FULLY }

        - { path: ^/opportunities/list, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/opportunities/recap, roles: IS_AUTHENTICATED_FULLY }



